body {
    background-color: #222222;
    margin: 0;
    padding: 64px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

form {
    width: 128px;
    float: left;
}

fieldset {
    margin: 8px;
    padding: 4px;
    border-left:  1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;
    background-color: black;
    color: white;
}

button {
    display: block;
    width: 100%;
}

label {
    display: block;
}

select {
    display: block;
    margin: 4px auto;
    width: 100%;
}

canvas {
    clear: left;
    background-color: black;
    margin: 8px;
    border-left:  1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;

}